@import 'src/custom-theme';

footer {
  padding: 50px 25px;
  margin-top: 20px;
  background-color: mat-color($app-primary);
  .box {
    padding: 10px;
    text-align: center;
    h3 {
      color: white;
    }
    input {
      color: white;
    }
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        a {
          text-decoration: none;
          color: white;
          transition: transform 0.3s;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
