$primary: #b4f8c8;
$danger: #ffaebc;
$info: #a0e7e5;
$warning: #fbe7c6;
$white: #ffffff;
$text-color: #000000;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Cascadia code";
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

h3 {
  margin: 0;
}
