$primary: #b4f8c8;
$danger: #ffaebc;
$info: #a0e7e5;
$warning: #fbe7c6;
$white: #ffffff;
$text-color: #000000;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Cascadia code";
}

h3 {
  margin: 0;
}

.product-grid {
  margin: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 16px;
}

.container {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 85%;
    padding-left: 16px;
    padding-right: 16px;
  }
}
