* {
  font-family: 'Cascadia code';
}

html,
body {
  height: 100%;
  margin: 0;
}

h3 {
  margin: 0;
}

.product-grid {
  margin: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 16px;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .container {
    max-width: 85%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}
