:host {
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.05);
  }
}

img {
  max-width: 100%;
}

.crop-image {
  display: block;
  height: 200px;
  width: 100%;
  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    object-position: center;
  }
}
